HTML CSS Result Skip Results Iframe
/* on both */

#div-1 { overflow-x: hidden; }

html, body {
  overflow-x: hidden;
  width: 95%;
  margin-left: 5px;
  background-color: blanchedalmond;
  font-family: 'Avenir', sans-serif; 
  color: #33475b;  
}

body {
  background-color: blanchedalmond;
  position: relative
}

section {
  box-sizing: border-box;
  margin: 2px;
  width: 25rem;
  background: blanchedalmond;
  padding: 1.5rem;
  padding-bottom: 4rem;
}

h2, .full-width-borders {
  margin: 0 -600.5rem;
  padding: .4rem 1.5rem;
  background: maroon;
  border-left: 600rem solid #000000;
  border-right: 600rem solid #000000;
  color: bisque;
  font-size: 18px;
}
h3{
  margin:  5px;
}
p{
  margin-left: 10px;
}